.profile-stats__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.profile-stats__title {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.profile-stats__card-pulled-most {
  display: flex;
  flex-direction: row;
}

.profile-stats__card-pulled-most-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;
  justify-content: center;
}

.profile-stats__card-image {
  max-width: 80px;
}

.profile-stats__sub-title {
  color: white;
  text-decoration: underline;
}

.profile-stats__text-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px 0 0 0;
}

.profile-stats__text {
  color: white;
  font-weight: bold;
  max-width: fit-content;
}

.profile-stats__text_color {
  color: #f94040;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  flex-wrap: nowrap;
}

.profile-stats__general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 250px;
}

.profile-stats__general-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2pt solid #f94040;
  padding: 0 40px 20px 40px;
}

.profile-stats__all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px 0 15px;
  max-height: fit-content;
}

.profile-stats__list {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-stats__list-item {
  color: white;
  font-weight: bold;
  margin: 5px 0 0 0;
  display: flex;
  gap: 5px;
}

.profile-stats__rarity {
  display: flex;
  flex-direction: column;
}

.profile-stats__card-types {
  display: flex;
  flex-direction: column;
}

.profile-stats__filter {
  margin: 5px 0 0 0;
  padding: 0 0 0 5px;
  min-width: 150px;
  min-height: 25px;
  border-radius: 5px;
  border: 1pt solid white;
  font-size: 15px;
  background-color: transparent;
  color: white;
}

.profile-stats__filter-option {
  background-color: white;
  color: black;
}
