.booster__stats-container {
  display: flex;
  flex-direction: row;
}

.booster__breakdown-container {
  min-width: 300px;
  max-height: fit-content;
  background: transparent;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 50px 0 0;
}

.booster__breakdown-pack-size {
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: white;
  margin: 10px auto 0;
}

.booster__breakdown-pack-size_color {
  color: #f94040;
  margin: 0 0 0 5px;
}

.booster__progress-container {
  min-width: 300px;
  max-height: fit-content;
  background: transparent;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  margin: 0 50px 0 0;
}

@-moz-document url-prefix() {
  .booster__progress-container {
    scroll-padding: 0 5px 0 0;
    scrollbar-width: thin;
    scrollbar-color: #f94040 transparent;
  }
}

.booster__progress-container::-webkit-scrollbar {
  width: 5px;
}

.booster__progress-container::-webkit-scrollbar-thumb {
  background-color: #f94040;
  border-radius: 4px;
}

.booster__progress-container::-webkit-scrollbar-track {
  background: none;
}

.booster__progress-title {
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  font-size: 22px;
  text-decoration: underline;
  color: white;
  margin: 10px auto 10px auto;
}

.booster__progress-pack-size_color {
  font-family: "arimo", "Helvetica Neue", sans-serif;
  color: #f94040;
  margin: 0 0 0 5px;
  display: inline;
}

.booster__progress-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  width: fit-content;
}

.booster__list-container-title {
  margin: 0 auto;
  color: white;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline;
}

.booster__list-container-title_color {
  color: #f94040;
  margin: 0 0 0 5px;
  display: inline;
}

.booster__progress-list-container {
  display: flex;
  /* flex-direction: row; */
  gap: 50px;
  max-width: fit-content;
  margin: 20px 20px 20px 20px;
}

.booster__progress-list-item {
  font-size: 15px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  list-style: none;
  margin: 7px 0 0 0;
  color: white;
}

.booster__progress-list-qauntity {
  margin: 0 0 0 5px;
  display: inline;
}

.booster__progress-list-qauntity_bold {
  font-weight: bold;
}

.booster__progress-list-qauntity_color {
  color: #f94040;
  display: inline;
}

.booster__progress-list-separator {
  margin: 0 0 0 5px;
}

@media (max-width: 1285px) {
  .booster__progress-list-item {
    font-size: 14px;
  }

  .booster__progress-list-container {
    gap: 40px;
  }
}

@media (max-width: 1255px) {
  .booster__progress-list-item {
    font-size: 13px;
  }

  .booster__progress-list-container {
    gap: 30px;
  }
}

@media (max-width: 1150px) {
  .booster__progress-container {
    align-items: center;
    margin: 0 0 40px 0;
  }

  .booster__progress-list-item {
    font-size: 16px;
  }

  .booster__progress-list-container {
    gap: 70px;
  }
}

@media (max-width: 600px) {
  .booster__progress-list-container {
    flex-direction: column;
    gap: 0;
  }

  .booster__progress-list-item {
    font-size: 15px;
  }

  .booster__progress-title {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .booster__progress-list-item {
    font-size: 14px;
  }

  .booster__progress-title {
    font-size: 18px;
  }

  .booster__breakdown-pack-size {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .booster__progress-list-item {
    font-size: 13px;
  }

  .booster__progress-container {
    min-width: 240px;
  }
}
