.booster__breakdown-container {
  min-width: 350px;
  max-height: fit-content;
  background: transparent;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 80px 0 0;
}

.booster__breakdown-title {
  font-size: 18px;
  text-decoration: underline;
  color: white;
  margin: 10px auto 10px auto;
}

.booster__breakdown-pack-size {
  font-size: 14px;
  color: white;
  margin: 0 auto 10px;
}

.booster__breakdown-pack-size_color {
  color: #f94040;
  margin: 0 0 0 5px;
}

.booster__breakdown-list_total {
  list-style: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

.booster__list-container-title {
  margin: 0;
  color: white;
  font-size: 16px;
  /* font-weight: bold; */
  border-bottom: 1pt white solid;
}

.booster__list-container-title_color {
  color: #f94040;
  margin: 0 0 0 5px;
}

.booster__breakdown-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-width: fit-content;
  align-self: center;
  margin: 0 0 20px 0;
}

.booster__breakdown-list-item {
  font-size: 16px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  list-style: none;
  margin: 7px 0 0 0;
  color: white;
}

.booster__breakdown-list-qauntity {
  margin: 0 0 0 5px;
  display: inline;
}

.booster__breakdown-list-qauntity_bold {
  font-weight: bold;
}

.booster__breakdown-list-qauntity_color {
  color: #f94040;
}
