.home__grid-item {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  background: white
    url("/src/images/Backgrounds/yugioh-booster-sim\(grid-item\ background\).svg")
    no-repeat center;
  background-size: cover;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  max-height: fit-content;
  border-radius: 10px;
}

.item__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 24px;
  max-width: 293px;
  position: relative;
}

.item__name span {
  display: inline-block;
  transform: translateX(0);
  white-space: nowrap;
}

.item__name.non-scrolling:hover span {
  animation: none;
}

.item__name:hover span {
  animation: scrollText 6s linear infinite;
}

.item__code {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.item__release {
  font-size: 16px;
  margin: 5px 0 10px 0;
}

.item__image {
  height: 400px;
  max-width: 223px;
}

.item__link {
  max-height: 400px;
}

.item__open-button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  max-height: 400px;
}

.item__open-button.disabled {
  cursor: default;
}

.item__open-button.disabled:hover {
  box-shadow: none;
  transform: none;
}

.item__open-button.disabled:hover .item__image-text {
  cursor: default;
  opacity: 0;
}

.item__open-button.disabled:hover .item__image {
  opacity: 100%;
}

.item__open-button:hover {
  transform: scale(98%);
  box-shadow: 0px 0px 10px 5px rgba(37, 172, 255, 0.6);
}

.item__open-button .item__image-text {
  opacity: 0;
}

.item__open-button:hover .item__image {
  opacity: 85%;
}

.item__open-button:hover .item__image-text {
  opacity: 100%;
}

.item__image-text {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  position: relative;
  bottom: 220px;
  color: rgb(0, 162, 255);
  background-color: white;
  cursor: pointer;
}

.item__pack-size {
  margin: 12px 0 30px 0;
  font-size: 18px;
  font-weight: bold;
}
