.home__grid-item {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  background: white
    url("/src/images/Backgrounds/yugioh-booster-sim\(grid-item\ background\).svg")
    no-repeat center;
  background-size: cover;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  max-height: fit-content;
  border-radius: 10px;
}

.item__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 24px;
  max-width: 293px;
  position: relative;
}

.item__name span {
  display: inline-block;
  transform: translateX(0);
  white-space: nowrap;
}

.item__name.non-scrolling:hover span {
  animation: none;
}

.item__name:hover span {
  animation: scrollText 6s linear infinite;
}

.item__code {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.item__release {
  font-size: 16px;
  margin: 5px 0 10px 0;
}

.item__image {
  height: 400px;
  max-width: 223px;
}

.item__link {
  max-height: 400px;
}

.item__open-button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  max-height: 400px;
}

.item__open-button.disabled {
  cursor: default;
}

.item__open-button.disabled:hover {
  box-shadow: none;
  transform: none;
}

.item__open-button.disabled:hover .item__image-text {
  cursor: default;
  opacity: 0;
}

.item__open-button.disabled:hover .item__image {
  opacity: 100%;
}

.item__open-button:hover {
  transform: scale(98%);
  box-shadow: 0px 0px 10px 5px rgba(37, 172, 255, 0.6);
}

.item__open-button .item__image-text {
  opacity: 0;
}

.item__open-button:hover .item__image {
  opacity: 85%;
}

.item__open-button:hover .item__image-text {
  opacity: 100%;
}

.item__image-text {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  position: relative;
  bottom: 220px;
  color: rgb(0, 162, 255);
  background-color: white;
  cursor: pointer;
}

.item__pack-size {
  padding: 12px 0 30px 0;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 730px) {
  .item__name {
    max-width: 250px;
  }
}

@media (max-width: 709px) {
  .item__image {
    height: 350px;
  }

  .item__open-button {
    max-height: 330px;
  }

  .item__name {
    max-width: 215px;
  }

  .item__image-text {
    font-size: 26px;
    bottom: 194px;
  }

  .item__pack-size {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 590px) {
  .item__image {
    height: 310px;
  }

  .item__open-button {
    max-height: 310px;
  }

  .item__name {
    max-width: 205px;
  }

  .item__image-text {
    font-size: 24px;
    bottom: 171px;
  }
}

@media (max-width: 570px) {
  .item__image {
    height: 290px;
    width: 160px;
  }

  .item__open-button {
    max-height: 290px;
  }

  .item__name {
    max-width: 200px;
  }

  .item__image-text {
    font-size: 22px;
    bottom: 160px;
  }
}

@media (max-width: 545px) {
  .item__image {
    height: 270px;
    width: 150px;
  }

  .item__open-button {
    max-height: 270px;
  }

  .item__name {
    max-width: 180px;
  }

  .item__image-text {
    font-size: 20px;
    bottom: 150px;
  }
}

@media (max-width: 510px) {
  .item__name {
    max-width: 170px;
  }
}

@media (max-width: 490px) {
  .item__image {
    height: 240px;
    width: 130px;
  }

  .item__open-button {
    max-height: 240px;
  }

  .item__pack-size {
    padding: 0 0 30px 0;
    font-size: 16px;
  }

  .item__name {
    max-width: 160px;
    font-size: 16px;
  }

  .item__code {
    font-size: 14px;
  }

  .item__release {
    font-size: 14px;
  }

  .item__image-text {
    font-size: 17px;
    bottom: 134px;
  }

  .item__pack-size {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .item__image {
    height: 230px;
    width: 120px;
  }

  .item__open-button {
    max-height: 230px;
  }

  .item__name {
    max-width: 145px;
    font-size: 16px;
  }

  .item__image-text {
    font-size: 16px;
    bottom: 128px;
  }
}

@media (max-width: 455px) {
  .item__image {
    height: 210px;
    width: 115px;
  }

  .item__open-button {
    max-height: 210px;
  }

  .item__pack-size {
    font-size: 14px;
  }

  .item__name {
    max-width: 145px;
    font-size: 14px;
  }

  .item__code {
    font-size: 12px;
  }

  .item__release {
    font-size: 12px;
  }

  .item__image-text {
    font-size: 15px;
    bottom: 118px;
  }
}

@media (max-width: 430px) {
  .item__image {
    height: 180px;
    width: 100px;
  }

  .item__open-button {
    max-height: 180px;
  }

  .item__name {
    max-width: 125px;
    font-size: 12px;
  }

  .item__pack-size {
    font-size: 12px;
  }

  .item__image-text {
    font-size: 14px;
    bottom: 100px;
  }
}

@media (max-width: 415px) {
  .item__name {
    max-width: 125px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .item__name {
    max-width: 120px;
  }
}

@media (max-width: 390px) {
  .item__name {
    max-width: 105px;
  }

  .item__image {
    height: 150px;
    width: 80px;
  }

  .item__open-button {
    max-height: 150px;
  }

  .item__image-text {
    font-size: 13px;
    bottom: 84px;
  }

  .item__pack-size {
    font-size: 11px;
  }
}

@media (max-width: 355px) {
  .item__name {
    max-width: 95px;
  }

  .item__pack-size {
    font-size: 10px;
  }
}

@media (max-width: 335px) {
  .item__name {
    max-width: 90px;
  }
}
