@keyframes pulsate-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.booster__page {
  margin: 0 auto;
}

.booster__page-background {
  background-color: rgba(3, 0, 79, 0.5);
  position: relative;
  padding: 50px 0 40px 0;
  border-top: 1px solid rgb(0, 162, 255);
  border-bottom: 1px solid rgb(0, 162, 255);
}

.booster__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 40px 0;
  z-index: 2;
}

.booster__title {
  font-size: 40px;
  text-align: center;
  padding: 40px 0 30px 0;
  color: white;
}

.booster__pack-opener {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.booster__pack {
  min-width: 135px;
  max-height: 250px;
  cursor: pointer;
  align-self: center;
  z-index: 1;
}

.booster__pack:hover {
  opacity: 0.9;
}

.booster__pack-open-button {
  background: none;
  border: none;
}

.booster__card-back {
  max-width: 135px;
}

.booster__blank-card {
  max-width: 135px;
  opacity: 50%;
}

.booster__pack-card-button {
  background: none;
  border: none;
}

.booster__card-button {
  background: none;
  border: none;
}

/* -------------------------------- CARDLIST -------------------------------- */
.booster__cardlist-container {
  max-width: 1100px;
  min-height: max-content;
  background-color: white;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  background: transparent;
  margin: 0 auto;
  z-index: 2;
}

.booster__cardlist-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto 0 auto;
  padding: 2px 3px 2px 3px;
  max-width: fit-content;
}

.booster__cardlist {
  list-style-type: none;
  padding: 10px 15px 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: auto;
  gap: 8px;
  max-height: 300px;
  overflow: scroll;
  justify-content: center;
}

/* ------------------------------------ x ----------------------------------- */
.booster__pack-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: max-content;
  margin: 0 0 30px 0;
  gap: 5px;
}
