@keyframes pulsate-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.booster__page {
  margin: 0 auto;
  min-height: 100vh;
}

.booster__page-background {
  background-color: rgba(3, 0, 79, 0.5);
  position: relative;
  padding: 50px 0 50px 0;
  border-top: 1px solid rgb(0, 162, 255);
  border-bottom: 1px solid rgb(0, 162, 255);
}

.booster__page-container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 40px 0 40px;
}

.booster__container {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 40px 40px 0;
  z-index: 2;
}

.booster__page-back-button {
  background: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transform: rotate(-90deg);
  padding: 0 0 10px 0;
}

.booster__page-back-button-image {
  width: 50px;
}

.booster__title {
  font-size: 40px;
  text-align: center;
  padding: 40px 40px 30px 40px;
  color: white;
}

.booster__pack-opener {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 0 auto;
}

.booster__pack_visible {
  min-width: 180px;
  max-height: 320px;
  cursor: pointer;
  align-self: center;
  z-index: 1;
}

.booster__pack_visible:hover {
  cursor: pointer;
  animation: pulsate-hover 0.5s infinite;
}

.booster__pack_disabled {
  opacity: 50%;
  cursor: default;
}

.booster__pack_disabled:hover {
  animation: none;
  cursor: default;
}

.booster__pack-open-button {
  background: none;
  border: none;
}

.booster__card-back_disabled {
  max-width: 180px;
  opacity: 50%;
  margin: 25px 0 0 0;
}

.booster__card-back_visible {
  opacity: 100%;
  cursor: pointer;
}

.booster__blank-card {
  max-width: 180px;
  opacity: 50%;
  margin: 25px 0 0 0;
}

.booster__pack-card-button {
  background: none;
  border: none;
}

.booster__card-container {
  align-self: center;
}

/* -------------------------------- PREV CARDS -------------------------------- */
.booster__prev-container {
  max-width: 1500px;
  min-height: max-content;
  background-color: white;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  background: transparent;
  margin: 0 0 40px 0;
  padding: 0 0 5px 0;
  z-index: 2;
}

.booster__prev-title {
  color: white;
  font-size: 26px;
  margin: 10px auto 0 auto;
  padding: 2px 3px 2px 3px;
  max-width: fit-content;
}

.booster__prev-cardlist {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-template-rows: auto;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

@-moz-document url-prefix() {
  .booster__prev-cardlist {
    scroll-padding: 0 5px 0 0;
    scrollbar-width: thin;
    scrollbar-color: #f94040 transparent;
  }
}

.booster__prev-cardlist::-webkit-scrollbar {
  width: 5px;
}

.booster__prev-cardlist::-webkit-scrollbar-thumb {
  background-color: #f94040;
  border-radius: 4px;
}

.booster__prev-cardlist::-webkit-scrollbar-track {
  background: none;
}

/* -------------------------------- CARDLIST -------------------------------- */
.booster__cardlist-container {
  max-width: 1500px;
  min-height: fit-content;
  background-color: white;
  border: 5px solid rgb(0, 162, 255);
  border-radius: 15px;
  background: transparent;
  padding: 0 0 5px 0;
  z-index: 2;
}

.booster__cardlist-title {
  color: white;
  font-size: 26px;
  margin: 10px auto 0 auto;
  max-width: fit-content;
}

.booster__cardlist-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  margin: 15px 40px 8px 40px;
  border-bottom: 2.5pt white solid;
  border-radius: 10px;
}

.booster__cardlist-option {
  background-color: white;
  color: black;
}

.booster__cardlist-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.booster__cardlist-filter {
  padding: 0 0 0 5px;
  min-width: 160px;
  min-height: 30px;
  border-radius: 5px;
  border: 1pt solid white;
  font-size: 16px;
  font-family: "arimo", "Helvetica Neue", sans-serif;
  background-color: transparent;
  color: white;
}

.booster__cardlist {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-template-rows: auto;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

@-moz-document url-prefix() {
  .booster__cardlist {
    scroll-padding: 0 5px 0 0;
    scrollbar-width: thin;
    scrollbar-color: #f94040 transparent;
  }
}

.booster__cardlist::-webkit-scrollbar {
  width: 5px;
}

.booster__cardlist::-webkit-scrollbar-thumb {
  background-color: #f94040;
  border-radius: 4px;
}

.booster__cardlist::-webkit-scrollbar-track {
  background: none;
}

.booster__cardlist_hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.booster__cardlist-no-results {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.booster__cardlist-no-results-text {
  font-size: 24px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  color: white;
}

/* ------------------------------------ x ----------------------------------- */

@media (max-width: 1255px) {
  .booster__pack-opener {
    gap: 50px;
  }
}

@media (max-width: 1201px) {
  .booster__pack-opener {
    gap: 40px;
  }
}

@media (max-width: 1150px) {
  .booster__container {
    flex-direction: column;
    margin: 0 0 40px 0;
  }

  .booster__pack-opener {
    gap: 60px;
  }
}

@media (max-width: 830px) {
  .booster__cardlist-options {
    flex-direction: column;
    padding-bottom: 10px;
    margin: 15px 40px 8px 40px;
  }

  .booster__cardlist-filters {
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;
  }

  .booster__cardlist-filter {
    padding: 0 0 0 5px;
    min-width: 250px;
    min-height: 30px;
  }
}

@media (max-width: 800px) {
  .booster__title {
    margin-top: 0;
  }
}

@media (max-width: 745px) {
  .booster__pack-opener {
    gap: 40px;
  }
}

@media (max-width: 720px) {
  .booster__cardlist-filters {
    justify-content: space-around;
  }

  .booster__cardlist-filter {
    min-width: 220px;
  }
}

@media (max-width: 700px) {
  .booster__pack_visible {
    min-width: 150px;
    max-height: 270px;
  }

  .booster__card-back_disabled {
    max-width: 150px;
  }

  .booster__blank-card {
    max-width: 150px;
  }

  .booster__cardlist-title {
    font-size: 24px;
  }

  .booster__prev-title {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .booster__cardlist-filters {
    flex-direction: column;
    align-items: center;
  }

  .booster__cardlist-filter {
    min-width: 350px;
  }

  .booster__title {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .booster__title {
    font-size: 32px;
  }
}

@media (max-width: 610px) {
  .booster__pack_visible {
    min-width: 130px;
    max-height: 230px;
  }

  .booster__card-back_disabled {
    max-width: 130px;
  }

  .booster__blank-card {
    max-width: 130px;
  }
}

@media (max-width: 560px) {
  .booster__cardlist-filter {
    min-width: 300px;
  }

  .booster__pack_visible {
    min-width: 120px;
    max-height: 210px;
  }

  .booster__card-back_disabled {
    max-width: 120px;
  }

  .booster__blank-card {
    max-width: 120px;
  }
}

@media (max-width: 545px) {
  .booster__title {
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .booster__pack-opener {
    min-width: 250px;
  }
}

@media (max-width: 529px) {
  .booster__cardlist {
    column-gap: 5px;
    row-gap: 10px;
  }

  .booster__prev-cardlist {
    column-gap: 5px;
    row-gap: 10px;
  }

  .booster__cardlist-filter {
    min-width: 250px;
  }
}

@media (max-width: 510px) {
  .booster__pack-opener {
    display: grid;
    gap: 30px;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
  }

  .booster__pack-opener > :nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }

  .booster__blank-card {
    margin: 0;
  }
}

@media (max-width: 470px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 100px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 100px);
  }

  .booster__title {
    font-size: 26px;
  }

  .booster__cardlist-filter {
    min-width: 210px;
  }

  .booster__cardlist-filters {
    max-width: 210px;
  }
}

@media (max-width: 450px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 95px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 95px);
  }

  .booster__cardlist-filter {
    min-width: 200px;
  }

  .booster__cardlist-filters {
    max-width: 200px;
  }
}

@media (max-width: 430px) {
  .booster__cardlist-filter {
    min-width: 180px;
  }

  .booster__cardlist-filters {
    max-width: 180px;
  }

  .booster__cardlist {
    grid-template-columns: repeat(3, 90px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 90px);
  }
}

@media (max-width: 400px) {
  .booster__cardlist-filter {
    min-width: 160px;
  }

  .booster__cardlist-filters {
    max-width: 160px;
  }

  .booster__cardlist {
    grid-template-columns: repeat(3, 85px);
    max-height: 450px;
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 85px);
  }
}

@media (max-width: 390px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 80px);
    max-height: 400px;
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 80px);
  }

  .booster__cardlist-filter {
    font-size: 14px;
    min-width: 140px;
  }

  .booster__cardlist-filters {
    max-width: 140px;
  }

  .booster__cardlist-options {
    min-width: 140px;
  }

  .booster__cardlist-title {
    font-size: 22px;
  }

  .booster__prev-title {
    font-size: 22px;
  }

  .booster__title {
    font-size: 24px;
  }
}

@media (max-width: 370px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 70px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 70px);
  }

  .booster__title {
    font-size: 22px;
  }
}

@media (max-width: 355px) {
  .booster__cardlist-filter {
    min-width: 120px;
    font-size: 12px;
  }

  .booster__cardlist-options {
    min-width: 120px;
  }

  .booster__cardlist-filters {
    max-width: 120px;
  }

  .booster__cardlist-title {
    font-size: 20px;
  }

  .booster__prev-title {
    font-size: 20px;
  }

  .booster__pack_visible {
    min-width: 110px;
    max-height: 200px;
  }

  .booster__card-back_disabled {
    max-width: 110px;
    margin: 25px 0 0 0;
  }

  .booster__blank-card {
    max-width: 110px;
    margin: 0 0 0 0;
  }
}

@media (max-width: 345px) {
  .booster__title {
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 65px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 65px);
  }

  .booster__cardlist-filter {
    min-width: 110px;
  }

  .booster__cardlist-options {
    min-width: 110px;
  }

  .booster__cardlist-filters {
    max-width: 110px;
  }
}

@media (max-width: 330px) {
  .booster__cardlist {
    grid-template-columns: repeat(3, 60px);
  }

  .booster__prev-cardlist {
    grid-template-columns: repeat(3, 60px);
  }

  .booster__cardlist-filter {
    min-width: 105px;
  }

  .booster__cardlist-options {
    min-width: 105px;
  }

  .booster__cardlist-filters {
    max-width: 105px;
  }

  .booster__title {
    font-size: 19px;
  }
}
