.modal__inputs {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  border: none;
  min-width: 300px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
}

.modal__input {
  border: 1.8pt rgb(0, 162, 255) solid;
  border-radius: 5px;
  min-height: 28px;
  padding: 5px;
  margin-top: 5px;
}

.modal__input_invalid {
  border: 1.8pt red solid;
}

.modal__error {
  font-family: "arimo", "Helvetica Neue", sans-serif;
  color: red;
  margin-bottom: 5px;
}

@media (max-width: 650px) {
  .modal__input {
    min-width: 400px;
  }

  .modal__inputs {
    align-items: center;
  }
}

@media (max-width: 545px) {
  .modal__input {
    min-width: 350px;
  }

  .modal__inputs {
    align-items: center;
  }
}
