@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes holographic-shimmer {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.opened-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover transition */
}

.opened-card__container_hidden {
  display: none;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.opened-card__name {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  min-height: 15px;
  max-width: 200px;
  white-space: nowrap;
  position: relative;
}

.opened-card__name span {
  display: inline-block;
  transform: translateX(0);
  white-space: nowrap;
}

.opened-card__name.non-scrolling:hover span {
  animation: none;
}

.opened-card__name:hover span {
  animation: scrollText 6s linear infinite;
}

.opened-card__code {
  color: white;
  font-size: 14px;
  margin: 2px 0 5px 0;
}

.opened-card__rarity {
  color: white;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  position: relative;
  text-overflow: ellipsis;
}

.opened-card__rarity_common {
  color: #808080;
}

.cardlist__item-rarity_short-print {
  color: #3d3d3d;
}

.opened-card__rarity_super-short-print {
  color: #3d3d3d;
}

.opened-card__rarity_rare {
  color: #1f4edb;
}

.opened-card__rarity_super-rare {
  color: #ffa500;
}

.opened-card__rarity_ultra-rare {
  color: #bc59de;
}

.opened-card__rarity_secret-rare {
  background: linear-gradient(360deg, #e0e0e0, #9c9c9c, #ffffff);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.opened-card__rarity_ultimate-rare {
  background: linear-gradient(
    90deg,
    #9b4fd7,
    #bc59de,
    #ffffff,
    #b85dec,
    #a04de9
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_ghost-rare {
  background: linear-gradient(360deg, #e9e7e7, #58b0eb);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.opened-card__rarity_ultra-rare-pharaohs-rare {
  background: linear-gradient(90deg, #ffd700, #8b00ff, #ffff, #ffd700);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_quarter-century-secret-rare {
  background: linear-gradient(
    90deg,
    #e2bf25,
    #e2bf25,
    #c0c0c0,
    #c0c0c0,
    #eeeded,
    #c0c0c0,
    #c0c0c0,
    #f7d53e
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_premium-gold-rare {
  background: linear-gradient(90deg, #ebc90a, #ffd700, #ffff, #ffd700, #ffd700);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_starfoil-rare {
  background: linear-gradient(
    90deg,
    #04b8ff,
    #04b8ff,
    #8b00ff,
    #ffffff,
    #8b00ff,
    #04b8ff,
    #04b8ff
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_starlight-rare {
  background: linear-gradient(
    90deg,
    #ffd700,
    #04b8ff,
    #8b00ff,
    #ffffff,
    #8b00ff,
    #04b8ff,
    #ffd700
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_collectors-rare {
  background: linear-gradient(90deg, #67a8fd, #38393b, #dddddd, #67a8fd);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity_platinum-secret-rare {
  background: linear-gradient(
    90deg,
    #b6b6b6,
    #9e9e9e,
    #ffffff,
    #9e9e9e,
    #b6b6b6
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: holographic-shimmer 6s infinite linear;
}

.opened-card__rarity span {
  display: inline-block;
  transform: translateX(0);
  white-space: nowrap;
}

.opened-card__rarity.non-scrolling:hover span {
  animation: none;
}

.opened-card__rarity:hover span {
  animation: scrollText 6s linear infinite;
}

.opened-card__button {
  color: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  transition: transform 0.1s, opacity 0.1s;
  max-height: 260px;
  cursor: pointer;
}

.opened-card__button:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(37, 172, 255, 0.6);
}

.opened-card__image {
  max-width: 180px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.opened-card__image-text {
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
  font-size: 22px;
  position: absolute;
  min-width: 180px;
  bottom: 120px;
  color: rgb(0, 162, 255);
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.1s ease;
  opacity: 0;
  padding: 3px 0 3px 0;
}

.opened-card__button:hover .opened-card__image-text {
  opacity: 100%;
}
