* {
  margin: 0;
  padding: 0;
}

.App {
  background: url(../../images/Backgrounds/yugioh-booster-sim\(main-background\).png)
    no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire area */
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}
