@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding: 30px 0 30px 0;
}

.loading__image1,
.loading__image2,
.loading__image3,
.loading__image4 {
  width: 50px;
  animation: pulsate 2.5s ease-in-out infinite;
}

.loading__image1 {
  animation-delay: 0s;
}

.loading__image2 {
  animation-delay: 0.5s;
}

.loading__image3 {
  animation-delay: 1s;
}

.loading__image4 {
  animation-delay: 1.5s;
}

@media (max-width: 400px) {
  .loading__image1,
  .loading__image2,
  .loading__image3,
  .loading__image4 {
    width: 40px;
  }
}
