.search-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-bar__container {
  align-content: center;
  max-height: 30px;
}

.search-bar__input {
  min-width: 250px;
  min-height: 30px;
  border-top: none;
  border-bottom: 1pt solid white;
  border-left: none;
  border-right: none;
  background: none;
  color: white;
  font-size: 20px;
  font-family: "arimo", "Helvetica Neue", sans-serif;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__delete-button {
  font-family: "arimo", "Helvetica Neue", sans-serif;
  font-size: 36px;
  color: white;
  position: relative;
  top: -40px;
  left: 260px;
  cursor: pointer;
  max-width: fit-content;
}

.search-bar__delete-button:hover {
  transform: scale(1.01);
}

@media (max-width: 540px) {
  .search-bar__input {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .search-bar__input {
    font-size: 18px;
    min-width: 220px;
    max-width: 220px;
  }

  .search-bar__delete-button {
    font-size: 32px;
    top: -37px;
    left: 230px;
  }
}

@media (max-width: 415px) {
  .search-bar__input {
    font-size: 16px;
    min-width: 180px;
    max-width: 180px;
  }

  .search-bar__delete-button {
    font-size: 30px;
    top: -34px;
    left: 208px;
  }
}

@media (max-width: 355px) {
  .search-bar__input {
    font-size: 14px;
    min-width: 160px;
    max-width: 160px;
  }

  .search-bar__delete-button {
    font-size: 30px;
    top: -34px;
    left: 208px;
  }
}
