.search-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-bar__container {
  align-content: center;
}

.search-bar__input {
  min-width: 250px;
  min-height: 30px;
  border-top: none;
  border-bottom: 1pt solid white;
  border-left: none;
  border-right: none;
  background: none;
  color: white;
  font-size: 20px;
  font-family: "arimo", "Helvetica Neue", sans-serif;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__button {
  border: none;
  background: none;
  color: white;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.search-bar__button:hover {
  transform: scale(1.1);
  opacity: 70%;
}

.search-bar__button-image {
  min-width: 25px;
}
