.header {
  background-color: black;
  max-width: 100vw;
  position: relative;
  padding: 40px 40px 0 40px;
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__logo {
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: 300px;
  align-self: center;
}

/* ------------------------------------ x ----------------------------------- */

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__search-bar {
}

.search-bar__form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-bar__input {
}

.search-bar__button {
}

.header__sign-in {
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: large;
}

.header__sign-in:hover {
  color: rgb(236, 78, 78);
  transition: 0.2s;
}
