.modal {
  transition: visibility 0.2s, opacity 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal__close-button {
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: -40px;
  right: -30px;
  cursor: pointer;
}

.modal__close-button:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.modal__container {
  min-width: 50%;
  min-height: fit-content;
  background: white
    url("/src/images/Backgrounds/yugioh-booster-sim\(grid-item\ background\).svg")
    no-repeat center;
  background-size: cover;
  border: 10px solid rgb(0, 162, 255);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  margin: 20px auto 0 auto;
  font-size: 32px;
  font-weight: bold;
}

.modal__text-container {
  margin: 20px 0 0 0;
}
