.modal__existing-email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.modal__text {
  margin: 0 5px 0 0;
  font-family: "arimo-bold", "Helvetica Neue", sans-serif;
}

.modal__existing-email {
  font-family: "arimo", "Helvetica Neue", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
